{%- assign current_url = page.url | append:'/' | replace:'//','/' -%}

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <h3 class="w3-wide"><b>tkr</b></h3>
  </div>
  <div class="w3-padding-64 w3-large w3-text-grey">
    <a href="/" class="w3-bar-item w3-button {% if current_url == '/' %}w3-light-grey{% endif %}">Home</a>

    {%- for composition in site.data.compositions -%}
      {%- assign category = composition[0] -%}
      {%- assign artists  = composition[1] -%}
      {%- assign category_slug = category | slugify -%}
      {%- assign category_url = '/' | append: category_slug | append: '/' -%}

      <!-- Category row -->
      <a href="/{{ category_slug }}/"
        class="w3-button w3-block w3-white w3-left-align {% if current_url == category_url %}w3-light-grey{% endif %}"
        style="position:relative; padding-right:3em">
        {{ category }}
        <i class="fa fa-caret-down"
          style="position:absolute;top:0;right:0;width:2.5em;height:100%;display:flex;align-items:center;justify-content:center;cursor:pointer;"
          onclick="event.preventDefault(); event.stopPropagation(); toggleSubmenu('category-{{ category_slug }}')">
        </i>
      </a>

      <!-- Category submenu -->
      <div id="category-{{ category_slug }}"
          class="w3-bar-block {% if current_url contains category_url %}w3-show{% else %}w3-hide{% endif %} w3-padding w3-medium">

        {%- for artist_pair in artists -%}
          {%- assign artist_name = artist_pair[0] -%}
          {%- assign artist_slug = artist_name | slugify -%}
          {%- assign artist_url = category_url | append: artist_slug | append: '/' -%}

          <!-- Artist row -->
          <a href="{{ artist_url }}" class="w3-bar-item w3-button {% if current_url contains artist_url %}w3-light-grey{% endif %}">
            {{ artist_name }}
          </a>
        {%- endfor -%}
      </div>
    {%- endfor -%}
  </div>
  <a href="https://www.instagram.com/tkr_piano/" target="_blank" class="w3-bar-item w3-button w3-padding">Instagram</a> 
  <a href="https://www.youtube.com/@tkrpiano" target="_blank" class="w3-bar-item w3-button w3-padding">YouTube</a> 
  <a href="https://open.spotify.com/user/k1rlrvmg0pwy3ikvu1xzbjns8?si=6c7efefa995e4a4a" target="_blank" class="w3-bar-item w3-button w3-padding">Spotify</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>