<!-- Top header -->
<div class="w3-main" style="margin-left:250px">
  <header class="w3-container w3-xlarge">
    <p class="w3-left">{{ page.title }}</p>
    <!-- Searchbar, to be implemented next time (?) -->
    <!-- <p class="w3-right">
      <i class="fa fa-search"></i>
    </p> -->
  </header>
</div>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">tkr</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>